#the-egg {
    width: 200px;
    height: auto;
    display: block;
    position: absolute;
    right: 175px;
    top: 100px;
}
#wrapper {
    width:auto;
    height: 300px;
    background: url('../images/stars01.png');
    background-repeat: repeat-x;    
}

#marquis {
    height: 50px;
    text-align: center;
}

#announcer {
    
}

#baby-horatio {
    display: inline-block;
    width: 250px;
    position: absolute;
    right: 150px;
}

.button {
    background: #008a05;
    border: solid 5px gold;
    text-align: center;
}

.button:hover {
    background: #012402;
    color: #7cff80;
    border: solid 5px rgb(110, 94, 0);
}

#food {
    display: inline-block;
    width: 100px;
    position: absolute;
    opacity: 0;
}

#heading {
    text-align: center;
    font-size: 40px;
    color: white;
}

.smaller-heading {
    text-align: center;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bars {
    width: 0;
    font-size: 20px;
}

.wrap-progress {
    height: 100px;
}

.progress-bar-green {
    background-color: #5FAE01 !important;
}

.progress-bar-orange {
    background-color: #AE7901 !important;
}

.progress-bar-purple {
    background-color: #6C01AE !important;
}
#ground {
    width: 473px;
    height: 480px;
    background: url('../images/ground-barren-moon.png');
    background-repeat: repeat-x;
}