

body {
    height: 100%;
    opacity: .9;
    background: url('../images/horatio-room.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
   
}

#the-egg {
    width: 250px;
    height: auto;
    display: block;
    position: absolute;
    right: 175px;
    top: 350px;
}


#announcer {
    
}

#baby-horatio {
    display: inline-block;
    width: 250px;
    position: absolute;
    right: 150px;
    top: 350px;
}

.button {
    background: rgba(1, 102, 10, .5);
    border: solid 5px rgba(209, 168, 0, .5);
    text-align: center;
    color: #7cff80;
}

.button:hover {
    background: #012402;
    color: #7cff80;
    border: solid 5px rgb(110, 94, 0);
}

#food {
    display: inline-block;
    width: 100px;
    position: absolute;
    opacity: 0;
}

#heading {
    text-align: center;
    font-size: 40px;
    color: #01a809;
}

.smaller-heading {
    text-align: center;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bars {
    width: 0;
    font-size: 20px;
}

.progress-bar-green {
    background-color: #5FAE01 !important;
}

.progress-bar-orange {
    background-color: #AE7901 !important;
}

.progress-bar-purple {
    background-color: #6C01AE !important;
}
